body
{
    margin: 0px;
    padding: 0px;
}
#map
{
    height: 100vh;
    width: 100vw;
}
#logo
{
    width: 10vw;
    height: auto;
    float: left;
    top: 83vh;
    left: 85vw;
    font-family: Verdana; 
    z-index: 1000;
    position: absolute;
    opacity: 0.3;
}
#menu
{
    z-index: 1;
    width: 280px;
    height: auto;
    border: 1px solid #000;
    position: absolute;
    background-color: #808080;
    bottom: 50vh;
    opacity: 0.2;
    left: -250px;
}
#menu:hover
{
    opacity: 1;
    background-color: #0084C9;
    color: #8CD600;
}
.textfield:focus /*Opmaak van actief tekstveld*/
{
    background-color: #0084C9;
    font-family: Verdana;
    color: #8CD600;
    border: none;
}
.textfield /*Opmaak Alle tekstvelden*/
{
    font-family: Verdana;
    border: none;
}
table tr td
{
    padding-top: 1%;
}
input[type=button]
{
    background-color: #0084C9;
    color: #8CD600;
    box-shadow: 3px 3px 10px #808080;
    width: auto;
}
input[type=button]:hover
{
    background-color: #8CD600;
    color: #0084C9;
}
input[type=text]
{
    width: 80%;
}
ul li
{
    list-style-type: none;
}